<!DOCTYPE html>
<html>
  <head>
    <title>Brittany Johns | Software Engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('img/BHJ_favicon.png') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/7747fb4a3a.js" crossorigin="anonymous"></script>
  </head>

  <body class="relative min-h-screen bg-gradient-to-tr from-white to-gray-200 font-mono" id="page-top">
    <%= render "layouts/navbar" %>
      <div id="main-screen" class="container p-2 pb-10 bg-white bg-opacity-50 mx-auto min-h-screen shadow-lg">
             <%= render partial: "layouts/side_nav" %>

      <%= yield %>
    </div>
  </body>
</html>
